body{background-color: #000000}
img{margin-bottom: 20px;}
h1{font-family: Montserrat; font-size:72px; color:white; text-align:center;}
p{font-family: Montserrat; font-size :24px; color: white; text-align:center; margin-left: 40px; margin-right: 40px;}
a{font-family: Montserrat; font-size: 24px; color: white; text-align:right;}
h2{font-family: Montserrat; font-size:24px; color:white; text-align:center; font-weight: 3}
h3{font-family: Montserrat; font-size:24px; color:white; text-align:center;}
h4{font-family: Montserrat; font-size:24px; color:#61ba03; text-align:center;}
h5{font-family: Montserrat; font-size:24px; color:#61ba03; text-align:center;}
h6{font-family: Montserrat; font-size:24px; color:#61ba03; text-align:center;}

