body{background-color: #000000}
h1{font-family: Montserrat; font-size:72px; color:red; text-align:center;}
h2{font-family: Montserrat; font-size :48px; color: white; text-align: center;}
p{font-family: Montserrat; font-size: 60px; color: white; text-align: center;}